@import './variables.css';

.slider {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 8rem;
  justify-content: center;
  margin: 4.2rem 0;
  position: relative;
  width: 100%;
}

.slider_window {
  display: flex;
  height: 100%;
  max-width: 100%;
  min-height: 43.5rem;
  position: relative;
  width: 100%;
}

.slider_items-list {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
}

@media screen and (min-width: 892px) {

  .slider {
    gap: 0;
  }

  .slider_window {
    max-width: 84%;
  }

}

@media screen and (min-width: 768px) {

  .slider {
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: space-between;
  }

  .slider_window {
    max-width: 82.6%;
  }

  .slider_items-list {
    justify-content: space-between;
  }

}

@media screen and (min-width: 576px) {
  .slider {
    margin: 6rem 0;
  }
}